.profile_pic {
    height: 50px;
    width: auto;
    /* padding: 10px;
    display: block; */
    margin: 0 auto;
}

.profile_pic_detail{
    height: 120px;
    width: auto;
    /* padding: 10px;
    display: block; */
    margin: 0 auto;
}